::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
